 /*通用样式*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, pre, dl, dt, dd, ul, ol, li, th, td, div,
span, img, fieldset, lengend, button, input, select, textarea{margin: 0;padding: 0;}
img{border:none; }
html,body{*position:static;}
*{
    font-size: 14px;
}
li{
	cursor: pointer;
}
a{
	color: black;
	display: inline-block;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
/* 颜色块 */
.backgroud-block{
	background:#fafafa;
}
/*右浮动  */
.ms-right{
	float:right;
}
/* 新闻列表下悬浮样式 */
.new-all li:hover > *{
	color: #3D7D53!important;
}
.body-content{
    width: 1200px;
    height: auto;
}
.ms-relative{
    position: relative;
}
.ms-absolute{
    position: absolute;
}
.margin-center{
    margin: 0 auto;
}
.max-width{
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
}
.ms-text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
/*新闻文字点击后的颜色*/
.active-world{
    color: #3d7d53 !important;
} 

/*分页按钮点击后*/
.active-page-btn{
	background: rgba(61, 125, 83, 1);
	color: white;
}



.top-nav{
    height: 40px;

}
.list-style-none{
    list-style-type: none;
}
.ms-pointer{
    cursor: pointer;
}
/*标题模型板块*/
.title-model{
    width: 100%;
}
.title-model > h5{
    display: inline-block;
    height: 17px;
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
    color: rgba(61,125,83,1);
}
.title-model > a{
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
    float:right;
}
/*标题模型板块End*/
.news-content-model{
    display: inline-block;
}
.news-content-model >.graphics{
    height: 91px;
    margin-top: 20px;
}
.news-content-model >.graphics >img{
    height: 100%;
    width: 110px;
    margin-right: 24px;
}
.news-content-model >.graphics >div{
    display: inline;
    float: right;
    width: calc(100% - 134px);
}
.news-content-model >.graphics >div >span{
	display: inline-block;
   	height: 15px;
    line-height: 12px;
    width: 130px;
    font-weight:bold;
    color:rgba(51,51,51,1);
}
.news-content-model >.graphics >div >div{
 	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    height: 58px;
    color: rgba(51,51,51,1);
    line-height: 20px;
    margin-top: 12px;
}
.news-content-model >.graphics >div >div>label{
    width: 100%;
    height: 53px;
    line-height: 19px;
    text-overflow: ellipsis;
}
.news-content-model >.graphics >div >div>a{
	line-height: 13px;
	color:#3D7D53;
}

.news-content-model > ul{
   margin-top: 26px;
}
.news-content-model > ul >li{
    margin-bottom:19px;
}
.news-content-model > ul >li:last-child{
	margin-bottom:0;
}
/*新闻列表样式*/

.news-list-model>li {
    height: 13px;
    line-height: 13px;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-top: 17px;
}
.news-list-model>li >a{
    width: 316px;
    color:rgba(51,51,51,1);
}
.news-list-model>li >span{
    float: right;
}
/*新闻列表样式End*/
/*通用样式End*/
/*顶部信息栏样式*/
.top-nav > div{

    font-weight:400;
    color:rgba(51,51,51,1);
    top: calc(50% - 10px);
}
.top-nav >div:first-child{
    left: 0;
}
.top-nav >div:last-child{
    right: 0;
}
/*顶部信息栏样式End*/
/*头部背景图片样式*/
.head-banner{
    height: 300px;
}
/*头部背景图片样式End*/
/*头部导航栏菜单样式*/
.menu-nav{
    background: #3D7D53;
    color: white;
}
.menu-nav > ul{
    height: 50px;
}
.menu-nav > ul >li{
    font-size:18px;
    font-weight:400;
    color:rgba(255,255,255,1);
    width: 171px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    float: left;
}
.menu-nav > ul >li >a{
	font-size:18px;
    color:rgba(255,255,255,1);
}
/*点击的li标签*/
.menu-nav > ul > li.active-li,.menu-nav > ul > li:hover{
    background: #285e3a;
    font-weight: bolder;
}
/*头部导航栏菜单样式End*/





/*底部内容样式*/
.footer{
    border-top: 4px solid rgba(61,125,83,1);
    padding: 25px 0;
    line-height: 24px;
    text-align: center;
}
.footer > .copyright > .company-infor{
    font-weight:bolder;
    margin-bottom: 20px;
    text-align: center;
}
.footer >.copyright > .contact{
    text-align: center;
    font-weight:400;
    color:rgba(51,51,51,1);
}
/*底部内容样式End*/