/*所有list模板文件的通用样式*/
ul>li>span {
				display: inline-block;
				width: 100%;
			}
			.ms-menue-content-model{
				width: 1200px;
				margin-top: 20px;
			}
			.ms-menue-content-model > div{
				display: inline-block;
			}
			.menue-list {
				width: 280px;
				margin-right: 30px;
				border-bottom:  1px solid rgba(238,238,238,1);
			}
			.menue-list  >ul>li> div{
				width: 24px;
				height: 24px;
				display: inline-block;
				border-radius: 50%;
				background:rgba(29,65,51,1);
				left: 26px;
				top: 19px;
			}
			.menue-list  >ul>li> div >img{
				width: 6px;
				height: 12px;
				margin-top: calc(50% - 6px);
				margin-left: calc(50% - 3px);
			}
			/*一级菜单栏标题*/
			.menue-list >ul >li >span{
				height: 60px;
				background: rgba(61,125,83,1);
			}
			.menue-list >ul >li >span >label{
				line-height: 60px;
				font-size: 19px;
				font-weight:bold;
				color: #FFF; 
				margin-left: 70px;
			}
			.menue-list>ul>li>ul{
				text-align: center;
			}
			/*二级菜单栏标题*/
			.menue-list>ul>li>ul>li>span{
				background: #c0d8d0;
				border-bottom: 1px solid white;
			}
			/*新闻标题被点击后的效果*/
			.menue-list span.active-span-title,.menue-list span:hover{ 
				background:#3D7D53
			}
			.menue-list>ul>li>ul>li>span>label>a {
				font-size: 16px;
				font-weight: bold;
				line-height: 50px;
				margin-top: -1px;
				position: relative;
    			left: -18px;
			}
			
			.menue-list>ul>li>ul>li>ul>li>span {
				height: 39px;
				background: #e9f2f9;
				margin-bottom: 1px;
				line-height: 40px;
			}
			/*左边菜单栏*/
			.ms-menue-content-model >div:first-child{
				float: left;
			}
			.ms-menue-content-model >div:nth-child(3){
				width: 888px;
				border: 1px solid rgba(238,238,238,1);
				min-height: 300px;
				margin-bottom: 40px;
			}
			.ms-menue-content-model >div:last-child > div:first-child{
				border-bottom: 1px solid rgba(238,238,238,1);
			}
